# Домашнее задание 1 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [ ]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data/Students_info_0.csv')
for i in range(1, 10):
  df = pd.concat([df, pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data/Students_info_' + str(i) + '.csv')])
df_marks = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data/Students_marks_0.csv')
for i in range(1, 10):
  df_marks = pd.concat([df_marks, pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data/Students_marks_' + str(i) + '.csv')])
df = pd.merge(df, df_marks, on='index')
df.head()

   index  gender race/ethnicity  ... math score reading score writing score
0      0  female        group B  ...         72            72            74
1      1  female        group C  ...         69            90            88
2      2  female        group B  ...         90            95            93
3      3    male        group A  ...         47            57            44
4      4    male        group C  ...         76            78            75

[5 rows x 10 columns]

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [ ]:
df = df.drop('index', axis=1)
df.head(10)

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75
5  female        group B  ...            83            78
6  female        group B  ...            95            92
7    male        group B  ...            43            39
8    male        group D  ...            64            67
9  female        group B  ...            60            50

[10 rows x 9 columns]

#### Задание 3. Выведите на экран размеры полученной таблицы

In [ ]:
df.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [ ]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [ ]:
df.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [ ]:
print(df.mean())

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [ ]:
print('Math score with / without preparation:')
print(str(df[df['test preparation course'] == 'completed']['math score'].mean()) + ' / ' + str(df[df['test preparation course'] == 'none']['math score'].mean()))
print('Reading score with/without preparation:')
print(str(df[df['test preparation course'] == 'completed']['reading score'].mean()) + ' / ' + str(df[df['test preparation course'] == 'none']['reading score'].mean()))
print('Writing score with/without preparation:')
print(str(df[df['test preparation course'] == 'completed']['writing score'].mean()) + ' / ' + str(df[df['test preparation course'] == 'none']['writing score'].mean()))

Math score with / without preparation:
69.69553072625699 / 64.0778816199377
Reading score with/without preparation:
73.89385474860335 / 66.53426791277259
Writing score with/without preparation:
74.41899441340782 / 64.50467289719626

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [ ]:
print(df['lunch'].unique())

['standard' 'free/reduced']

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [ ]:
df = df.rename(columns={'parental level of education' : 'education', 'test preparation course' : 'test preparation'})
df.head()

   gender race/ethnicity  ... reading score writing score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 9 columns]

**Зафиксируем минимальный балл для сдачи экзамена**

In [ ]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [ ]:
print('Have passed math exam: ' + str(df[df['math score'] >= passmark]['math score'].count()/df['math score'].count()*100) + '%')
print('Have passed math exam, who had completed course: ' + str(df[(df['math score'] >= passmark) & (df['test preparation'] == 'completed')]['math score'].count()/df[df['test preparation'] == 'completed']['math score'].count()*100) + '%')
print('Women, not passed math exam, who had not completed course: ' + str(df[(df['math score'] < passmark) & (df['test preparation'] == 'none') & (df['gender'] == 'female')]['math score'].count()/df[(df['test preparation'] == 'none') & (df['gender'] == 'female')]['math score'].count()*100) + '%')

Have passed math exam: 86.5%
Have passed math exam, who had completed course: 92.17877094972067%
Women, not passed math exam, who had not completed course: 20.958083832335326%

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
import time

start = time.time()
print(df[['reading score','race/ethnicity']].groupby('race/ethnicity').mean())
finish = time.time() - start
print('')
print('Time required: ' + str(finish) + ' sec')
print('')
start = time.time()
print(df[['writing score','education']].groupby('education').min())
finish = time.time() - start
print('')
print('Time required: ' + str(finish) + ' sec')

                reading score
race/ethnicity
group A             64.674157
group B             67.352632
group C             69.103448
group D             70.030534
group E             73.028571

Time required: 0.015114545822143555 sec

                    writing score
education
associate's degree             35
bachelor's degree              38
high school                    15
master's degree                46
some college                   19
some high school               10

Time required: 0.007859945297241211 sec

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [ ]:
import time

start = time.time()
race = df['race/ethnicity'].unique()
race.sort()
print('race/ethnicity      reading score')
for i in race:
  print(i.ljust(20, ' ') + str(df[df['race/ethnicity'] == i]['reading score'].mean()))
finish = time.time() - start
print('')
print('Time required: ' + str(finish) + ' sec')
print('')
start = time.time()
race = df['education'].unique()
race.sort()
print('education           writing score')
for i in race:
  print(i.ljust(20, ' ') + str(df[df['education'] == i]['writing score'].min()))
finish = time.time() - start
print('')
print('Time required: ' + str(finish) + ' sec')

race/ethnicity      reading score
group A             64.67415730337079
group B             67.35263157894737
group C             69.10344827586206
group D             70.03053435114504
group E             73.02857142857142

Time required: 0.0062868595123291016 sec

education           writing score
associate's degree  35
bachelor's degree   38
high school         15
master's degree     46
some college        19
some high school    10

Time required: 0.005457162857055664 sec

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [ ]:
grouped = pd.pivot_table(data = df, index = ['gender', 'education'])
grouped

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
df['Math_PassStatus'] = df['math score'].apply(lambda x: 'F' if x < passmark else 'P')
print('Have passed math exam: ' + str(df[df['Math_PassStatus'] == 'P']['math score'].count()))
print('Have not passed math exam: ' + str(df[df['Math_PassStatus'] == 'F']['math score'].count()))
df['Reading_PassStatus'] = df['reading score'].apply(lambda x: 'F' if x < passmark else 'P')
print('Have passed reading exam: ' + str(df[df['Reading_PassStatus'] == 'P']['math score'].count()))
print('Have not passed reading exam: ' + str(df[df['Reading_PassStatus'] == 'F']['math score'].count()))
df['Writing_PassStatus'] = df['writing score'].apply(lambda x: 'F' if x < passmark else 'P')
print('Have passed writing exam: ' + str(df[df['Writing_PassStatus'] == 'P']['math score'].count()))
print('Have not passed writing exam: ' + str(df[df['Writing_PassStatus'] == 'F']['math score'].count()))

Have passed math exam: 865
Have not passed math exam: 135
Have passed reading exam: 910
Have not passed reading exam: 90
Have passed writing exam: 886
Have not passed writing exam: 114

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
df['OverAll_PassStatus'] = df.apply(lambda row: 'P' if ((row['Math_PassStatus'] == 'P')
 & (row['Reading_PassStatus'] == 'P') & (row['Writing_PassStatus'] == 'P')) else 'F', axis = 1)
print('Have passed all exams: ' + str(df[df['OverAll_PassStatus'] == 'P']['math score'].count()))

Have passed all exams: 812

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

In [ ]:
def GetGrade(average_mark):
    if average_mark > 90:
      return 'A'
    elif average_mark > 80:
      return 'B'
    elif average_mark > 70:
      return 'C'
    elif average_mark > 60:
      return 'D'
    elif average_mark >= 50:
      return 'E'
    else:
      return 'F'

df['Grade'] = df.apply(lambda row: GetGrade((row['math score']+row['writing score']+row['reading score'])/3), axis = 1)
grade = df['Grade'].unique()
grade.sort()
print('Grade')
for i in grade:
  print(i.ljust(20, ' ') + str(df[df['Grade'] == i]['math score'].count()))

Grade
A                   50
B                   144
C                   253
D                   260
E                   190
F                   103